.icedreaper * {
  font-family: 'Condiment', Verdana;
  font-size: 18px;
  font-variant: inherit;
  margin: 0px;
  padding: 0px;
}
.icedreaper body {
  background-color: #f5f5f5;
  color: #011225;
}
.icedreaper body a {
  color: #011225;
  text-decoration: none;
  transition: color 0.5s linear;
}
.icedreaper body a:hover {
  color: #1883d5;
  text-decoration: underline;
}
.icedreaper body h1 {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.icedreaper body h2 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.icedreaper body h3 {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 2px;
}
.icedreaper body > header {
  background-image: url([object Object]);
  height: 200px;
  position: relative;
}
.icedreaper body > header > .login {
  font-size: 14px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.icedreaper body > header > .login:hover > .loginForm {
  transition: display 1s linear;
  display: inline;
}
.icedreaper body > header > .login > .loginForm {
  transition: display 1s linear;
  display: none;
}
.icedreaper body > header > nav {
  position: absolute;
  bottom: 0px;
  border-bottom: 2px solid #1883d5;
  width: 100%;
}
.icedreaper body > header > nav ul {
  width: 80%;
  margin: 0 auto;
}
.icedreaper body > header > nav ul li {
  list-style: none;
  float: left;
  padding: 2px 5px 0;
  margin: 2px 5px 0;
  border-top: 2px solid #1883d5;
  border-left: 2px solid #1883d5;
  border-right: 2px solid #1883d5;
  border-bottom: 0px solid #1883d5;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.icedreaper body > header > nav ul li:first-child {
  margin-left: 0;
}
.icedreaper body > footer > nav {
  border-top: 2px solid #1883d5;
  width: 100%;
  margin-top: 20px;
}
.icedreaper body > footer > nav ul {
  width: 80%;
  margin: 0 auto;
}
.icedreaper body > footer > nav ul li {
  list-style: none;
  float: left;
  padding: 2px 5px 0;
  margin: 0 5px 2px;
  border-top: 0px solid #1883d5;
  border-left: 2px solid #1883d5;
  border-right: 2px solid #1883d5;
  border-bottom: 2px solid #1883d5;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.icedreaper body > footer > nav ul li:first-child {
  margin-left: 0;
}
.icedreaper body section {
  color: #011225;
}
.icedreaper body section.content {
  width: 80%;
  margin: 0 auto;
}
.icedreaper body section.breadcrum ul {
  list-style: none;
}
.icedreaper body section.breadcrum ul li {
  list-style: none;
}
.icedreaper body section.textBlock {
  margin-top: 10px;
  padding: 0px 15px 10px;
  border: 2px solid #1883d5;
  -webkit-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-radius: 5px;
  background: -moz-linear-gradient(top, #1883d5 0%, #f5f5f5 80%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1883d5), color-stop(80%, #f5f5f5));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #1883d5 0%, #f5f5f5 80%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #1883d5 0%, #f5f5f5 80%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #1883d5 0%, #f5f5f5 80%);
  /* IE10+ */

  background: linear-gradient(to bottom, #1883d5 0%, #f5f5f5 80%);
  /* W3C */

}
.icedreaper body section.textBlock ul li {
  list-style: circle;
  margin-left: 20px;
}
.icedreaper body section.irBlog header {
  margin-top: 10px;
  padding: 0px 5px;
  border-top: 2px solid #1883d5;
  border-right: 2px solid #1883d5;
  border-left: 2px solid #1883d5;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: -moz-linear-gradient(top, #1883d5 0%, #f5f5f5 80%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1883d5), color-stop(80%, #f5f5f5));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #1883d5 0%, #f5f5f5 80%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #1883d5 0%, #f5f5f5 80%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #1883d5 0%, #f5f5f5 80%);
  /* IE10+ */

  background: linear-gradient(to bottom, #1883d5 0%, #f5f5f5 80%);
  /* W3C */

}
.icedreaper body section.irBlog header h1 {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.icedreaper body section.irBlog article {
  padding: 10px 5px;
  border-right: 2px solid #1883d5;
  border-bottom: 2px solid #1883d5;
  border-left: 2px solid #1883d5;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.icedreaper .irStage {
  padding: 9px 0 0 0;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.icedreaper .irLO-1-1,
.icedreaper .irLO-1-2,
.icedreaper .irLO-1-3,
.icedreaper .irLO-2-3,
.icedreaper .irLO-1-4,
.icedreaper .irLO-3-4,
.icedreaper .irLO-1-5,
.icedreaper .irLO-2-5,
.icedreaper .irLO-3-5,
.icedreaper .irLO-4-5 {
  display: table-cell;
  min-height: 20px;
  vertical-align: top;
  overflow: hidden;
}
.icedreaper .irLO-1 {
  display: table;
  height: 20px;
  width: 100%;
}
.icedreaper .irLO-1-1 {
  width: 100%;
}
.icedreaper .irLO-1-2 {
  width: 50%;
}
.icedreaper .irLO-1-3 {
  width: 33.33333%;
}
.icedreaper .irLO-2-3 {
  width: 66.66667%;
}
.icedreaper .irLO-1-4 {
  width: 25%;
}
.icedreaper .irLO-3-4 {
  width: 75%;
}
.icedreaper .irLO-1-5 {
  width: 20%;
}
.icedreaper .irLO-2-5 {
  width: 40%;
}
.icedreaper .irLO-3-5 {
  width: 60%;
}
.icedreaper .irLO-4-5 {
  width: 80%;
}
.icedreaper .margin-small,
.icedreaper .margin-small-left {
  margin-left: 2px;
}
.icedreaper .margin-small,
.icedreaper .margin-small-top {
  margin-top: 2px;
}
.icedreaper .margin-small,
.icedreaper .margin-small-right {
  margin-right: 2px;
}
.icedreaper .margin-small,
.icedreaper .margin-small-bottom {
  margin-bottom: 2px;
}
.icedreaper .margin-medium,
.icedreaper .margin-medium-left {
  margin-left: 4px;
}
.icedreaper .margin-medium,
.icedreaper .margin-medium-top {
  margin-top: 4px;
}
.icedreaper .margin-medium,
.icedreaper .margin-medium-right {
  margin-right: 4px;
}
.icedreaper .margin-medium,
.icedreaper .margin-medium-bottom {
  margin-bottom: 4px;
}
.icedreaper .margin-huge,
.icedreaper .margin-huge-left {
  margin-left: 8px;
}
.icedreaper .margin-huge,
.icedreaper .margin-huge-top {
  margin-top: 8px;
}
.icedreaper .margin-huge,
.icedreaper .margin-huge-right {
  margin-right: 8px;
}
.icedreaper .margin-huge,
.icedreaper .margin-huge-bottom {
  margin-bottom: 8px;
}
.icedreaper .margin-mega,
.icedreaper .margin-mega-left {
  margin-left: 16px;
}
.icedreaper .margin-mega,
.icedreaper .margin-mega-top {
  margin-top: 16px;
}
.icedreaper .margin-mega,
.icedreaper .margin-mega-right {
  margin-right: 16px;
}
.icedreaper .margin-mega,
.icedreaper .margin-mega-bottom {
  margin-bottom: 16px;
}
.icedreaper .padding-small,
.icedreaper .padding-small-left {
  padding-left: 2px;
}
.icedreaper .padding-small,
.icedreaper .padding-small-top {
  padding-top: 2px;
}
.icedreaper .padding-small,
.icedreaper .padding-small-right {
  padding-right: 2px;
}
.icedreaper .padding-small,
.icedreaper .padding-small-bottom {
  padding-bottom: 2px;
}
.icedreaper .padding-medium,
.icedreaper .padding-medium-left {
  padding-left: 4px;
}
.icedreaper .padding-medium,
.icedreaper .padding-medium-top {
  padding-top: 4px;
}
.icedreaper .padding-medium,
.icedreaper .padding-medium-right {
  padding-right: 4px;
}
.icedreaper .padding-medium,
.icedreaper .padding-medium-bottom {
  padding-bottom: 4px;
}
.icedreaper .padding-huge,
.icedreaper .padding-huge-left {
  padding-left: 8px;
}
.icedreaper .padding-huge,
.icedreaper .padding-huge-top {
  padding-top: 8px;
}
.icedreaper .padding-huge,
.icedreaper .padding-huge-right {
  padding-right: 8px;
}
.icedreaper .padding-huge,
.icedreaper .padding-huge-bottom {
  padding-bottom: 8px;
}
.icedreaper .padding-mega,
.icedreaper .padding-mega-left {
  padding-left: 16px;
}
.icedreaper .padding-mega,
.icedreaper .padding-mega-top {
  padding-top: 16px;
}
.icedreaper .padding-mega,
.icedreaper .padding-mega-right {
  padding-right: 16px;
}
.icedreaper .padding-mega,
.icedreaper .padding-mega-bottom {
  padding-bottom: 16px;
}
.icedreaper .negative-margin-medium-top {
  margin-top: -4px;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
